// Color Palette
$prime: #6ae2d6;
$prime-dark: #4ea89f;
$second: #374855;
$grey: #e8e8e8;
$red: #e16c6c;
$white: #ffffff;

// Padding & margin, Sizing
$cube: 1rem;

// Fonts
$font1: "Roboto Condensed", sans-serif;
$font2: "Roboto", sans-serif;
